@import 'color.less';


* {
    font-family: Robot, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
/**
* DESIGN GENERAL
**/
/** Constantes **/


@navbar-bg-color: @teal-500;
@navbar-bg-color-hover: @teal-400;

@body-background: #fafafa;

@text-card-color: #1d2129;

body {
    padding-top: 60px;
    margin: 0;
    background: @body-background;
    display: flex;
}

/**
* HEADER
**/

header {
    height: 50px;
    width: 100%;
    margin:0;
    background-color: @navbar-bg-color;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    z-index: 1;
    position: fixed;
    top: 0;



    .nav {
        list-style: none;
        float: left;
        margin: 0;

        li{
            position: relative;
            display: block;
            float: left;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 15px;
            height: 35px;

            &:hover {
                background-color: @navbar-bg-color-hover;
            }
            -webkit-transition-duration: .100s;
            transition-duration: .200s;
            -webkit-transition-property: background,opacity,-webkit-box-shadow,-webkit-transform;
            transition-property: background,opacity,box-shadow,transform;
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
        }

        a {
            color: white;
        }

        &.pull-right{
            float: right;
            padding-right: 50px;
        }
    }

}

.menu-left {
    float: left;
    width: 150px;
}

main{
    margin-left: 50px;
    margin-right: 50px;
}
/**
 * FORMS
 **/
 input{
     border-radius: 3px;
     height: 30px;
     width: 100%;
     margin: 5px;
     border: 0;
     padding-left: 5px;
 }


/**
 * CARD
 **/

.card{

    background: white;
    color: @text-card-color;
    margin: 15px;
    border-radius: 5px;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    min-width: 100%;
    .header{
        text-align: center;
        padding: 15px;
        .pull-right{
            float: right;
        }
    }




    .body {
        padding:10px;
    }

    .footer {
        background: @navbar-bg-color;
        color: white;
        text-align: center;
        height: auto;
        padding: 1px;

        ul li {
            display: inline;
        }
    }

    hr {
        margin-top: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    &.hoverable{
        -webkit-transition-duration: .218s;
        transition-duration: .218s;
        -webkit-transition-property: background,opacity,-webkit-box-shadow,-webkit-transform;
        transition-property: background,opacity,box-shadow,transform;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;

        &:hover {
            box-shadow:0 2px 15px rgba(0,0,0,0.30);
        }
    }

}
.card-orange{
    background-color: @deep-orange-500;
    color: white;
}

.card-teal {
    background-color: @teal-500;
    color: white;
}